.settings-container {
  min-width: 1175px !important;
  min-height: calc(100vh - 50px);
}

.settings-container .form-control, 
.settings-container .form-select {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  border: none !important;
  box-shadow: inset 0 .125rem .25rem rgba(0,0,0,.5) !important;
  color: rgba(255, 255, 255, .8) !important;
  padding: 0.5rem;
  resize: none;
}

.settings-container .form-select:disabled {
  color: rgba(255, 255, 255, .3) !important;
  box-shadow: none !important;
}

.tip {
  color: #ffc107;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  opacity: 0.75;
}

.text-tip-yellow {
  color: #ffc107 !important;
  opacity: 0.75;
}

.shadow-none {
  box-shadow: none !important;
}

.sample-color {
  height: 40px;
  width: 40px;
  border: 2px solid;
  border-color: #676c70 !important;
}

.delete-layer {
  display: inline-block !important;
  right: 0;
  width: auto !important;
}

.nav.settings-nav li {
  margin-left: 8px;
  margin-right: 8px;
}

.nav.settings-nav a {
  padding-left: 8px;
  padding-right: 8px;
}

.nav.settings-nav a.active {
  color: white !important;
}

.nav.settings-nav li:has(a.active) {
  border-bottom: 2px solid white;
}

.profile-select {
  padding-right: 36px !important;
}

.bar-barrier {
  border-left: solid 2px white;
  width: 0px;
  height: 38px;
  opacity: 0.25;
}